@use "./layout/variables" as *;

.cta-section {
  position: relative;
  margin-top: -120px;
  &:before {
    content: '';
    background: $white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    display: block;
    top: 120px;
    height: calc(100% - 120px);
  }
  .holder {
    color: $white;
    background: $blue;
    max-width: 915px;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px 0;
    text-align: center;
    position: relative;
    @media (min-width: $tablet) {
      border-radius: 140px;
    }
    @media (min-width: $laptop) {
      border-radius: 200px;
    }
  }
  .section-title {
    width: 80%;
    margin: 0 auto 24px;
    @media (min-width: $pc) {
      margin-bottom: 48px;
    }
  }
  .btn {
    color: $black;
    background: $white;
    border-color: $white;
    &:hover {
      color: $white;
      background: transparent;
    }
  }
}