@use "./layout/variables" as *;

.features-section {
  position: relative;
  padding: 40px 0;
  margin-bottom: 40px;
  @media (min-width: $laptop) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 56px 0;
  }
  @media (min-width: $pc) {
    gap: 84px;
    margin-bottom: 100px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    display: block;
    background: linear-gradient(90deg, rgba(39, 66, 77, 1) 23%, rgba(91, 153, 179, 1) 64%);
    z-index: -1;
  }
}

.feature-item {
  background: $white;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 40px;
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  @media (min-width: $laptop) {
    width: calc(50% - 20px);
    margin-bottom: 0;
  }
  @media (min-width: $pc) {
    width: calc(50% - 42px);
  }
  &:last-child {
    margin-bottom: 0;
  }
  .col-left {
    width: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 16px;
    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-right {
    flex: 1 1 calc(100% - 124px);
  }
  .title {
    font-size: 20px;
    margin-bottom: 8px;
    @media (min-width: $laptop) {
      font-size: 24px;
    }
  }
  p {
    margin-bottom: 12px;
    @media (min-width: $laptop) {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}