@use "./layout/variables" as vars;

.btn {
  background: vars.$blue;
  color: vars.$white;
  border: 1px solid vars.$blue;
  display: inline-block;
  width: fit-content;
  border-radius: 33px;
  padding: 11px 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: vars.$blue;
    border-color: vars.$blue;
    background-color: transparent;
  }
  &.btn-orange {
    background: vars.$orange;
    border: 1px solid vars.$orange;
    &:hover {
      color: vars.$orange;
      border-color: vars.$orange;
      background-color: transparent;
    }
  }
}

.btn-play {
  background: vars.$orange;
  border: 1px solid vars.$orange;
  font-size: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:after {
    content: '';
    border-left: 16px solid vars.$white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background: transparent;
    &:after {
      border-left-color: vars.$orange;
    }
  }
}