@use "./layout/variables" as vars;

.header {
  padding: 24px 0;
  margin-bottom: 40px;
  position: relative;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo, .footer-logo {
  color: vars.$blue;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
}

.header-menu-holder {
  background: vars.$white;
  padding: 80px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  overflow-y: auto;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @media (min-width: vars.$laptop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    background: transparent;
    position: relative;
    width: auto;
    height: auto;
    transform: none;
    overflow: unset;
    text-align: left;
    padding: 0;
  }
  @media (min-width: vars.$pc) {
    gap: 198px;
  }
  .menu-active & {
    transform: translateY(0);
  }
}

.header-menu,
.user-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media (min-width: vars.$laptop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  li {
    margin-bottom: 10px;
    @media (min-width: vars.$laptop) {
      margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
  }
  a {
    font-size: 24px;
    @media (min-width: vars.$laptop) {
      font-size: 16px;
    }
    &:not(.btn) {
      color: rgba(vars.$black, 0.6);
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: vars.$black;
      }
    }
  }
}

.header-menu {
  gap: 40px;
  margin-bottom: 10px;
  @media (min-width: vars.$laptop) {
    margin-bottom: 0;
  }
  .active a {
    color: vars.$black;
    font-weight: 500;
  }
}

.user-menu {
  gap: 32px;
}

.menu-toggle {
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  display: block;
  padding: 0;
  font-size: 0;
  position: relative;
  z-index: 2;
  @media (min-width: vars.$laptop) {
    display: none;
  }
  &:before,
  &:after {
    content: '';
  }
  &:before,
  &:after,
  span {
    background: vars.$blue;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  &:before {
    top: 0;
    .menu-active & {
      top: 9px;
      transform: rotate(-45deg);
    }
  }
  &:after {
    bottom: 0;
    .menu-active & {
      bottom: 9px;
      transform: rotate(45deg);
    }
  }
  span {
    top: 50%;
    transform: translateY(-50%);
    .menu-active & {
      transform: translateY(-50%) scale(0);
    }
  }
}
