//Variables
$white: #fff;
$black: #000;
$orange: #FF5000;
$blue: #608BFF;
$green: #00C508;
$purple: #B900D7;
$light-blue: #E3F6FA;
$light-yellow: #FFF9E8;

$base-font: "Poppins", "Times", "Baskerville", "Georgia", serif;

$tablet: 768px;
$laptop: 1024px;
$pc: 1280px;

$font-size: 16px;
